defaults:
  - _default
  - dataset: test.yaml
  - _self_


batch_size: 64
mask_ratio: 0.5
train_ratio: 0.8
is_ssl: true

is_eval: true
limit_per_eval_session: 300
eval_ratio: 0.1
eval_seed: 0

optimizer:
  scheduler: true
  lr: 0.0005
  weight_decay: 0.01  
  start_factor: 0.1  
  warmup_steps: 100   
  decay_steps: 2500   
  lr_min: 1e-6   

load_from_checkpoint: true
checkpoint_path: "/nethome/aandre8/torch_brain/examples/ndt2/logs/reproduce_NDT2/p1es241h/checkpoints/epoch=552-step=20461.ckpt"
fragment_dataset: true