name: Test Kirby

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "*" ]

permissions:
  contents: read

jobs:
  lint:
    runs-on: self-hosted
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - run: pip install black==24.2.0
    - run: black .

  test:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .     
        pip install flake8 pytest
    - name: Install plugin
      run: pip install pytest-github-actions-annotate-failures
    - name: Download sample dataset
      run: |
        pip install dandi
        snakemake --cores 4 mc_maze_small
    - name: Test with pytest
      run: |
        export WANDB_MODE=dryrun
        pytest tests/
